@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto&display=swap');

*{
  box-sizing: border-box;
}

body, html{
  height: 100%;
}

body{
  margin: 0;
  background-color: #17191C;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1140px;
  background: #17191C;
}

.main-page-wrapper{
  background: url(../../img/hero.png), url(../../img/bottom-pic.png);
  background-position: left top, left 7px  bottom 251px;
  background-repeat: no-repeat, no-repeat;
}

.index-page-wrapper{
  background: url(../../img/bg.png) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-container{
  width: 1128px;
  height: 643px;
  background: url(../../img/rec.png) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome__block{
  display: flex;
  width: 538px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.welcome__block .logo{
  padding-bottom: 60px;
}

h1, h2, h3, p{
  margin: 0;
}

img{
  display: block;
  max-width: 100%;
}

a{
  text-decoration: none;
  color: #fff;
}
address{
  font-style: normal;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

button{
  background: transparent;
  padding: 0;
  border: 1px solid transparent;
}

strong{
  color:#000000;
}


.container{
  width: 1140px;
  margin: 0 auto;
}

.hero__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 580px;
}

.top-line{
  display: flex;
  flex-direction: column;
  min-height: 416px;
  padding-bottom: 27px;
  background: url(../../img/top-line.png) right 66% top no-repeat;
}

.top-line__container{
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-title{
  font-weight: 800;
  font-size: 72px;
  text-transform: uppercase;
  line-height: 1;
}

.button{
  background-color: transparent;
  border: 2px solid #FF3D00;
  color: #FF5500;

  border-radius: 35px;
  width: 195px;
  height: 55px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.button:hover{
  background: #FF3D00;
  color: #fff
}

.button--size{
  width: 168px;
}

.button-link{
  padding: 15px 55px;
}

.button[type="reset"]{
  background-color: #8E8E8E;
  border-color: transparent;
  color: #fff;
  transition: background-color 0.3s, border-color 0,3s;
}

.button[type="reset"]:hover{
  background-color: #2B2B2B;
  border-color: #2B2B2B;
}

input[type='text'], input[type='url'], textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  height: 65px;
  padding: 20px 30px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type='text']:focus, input[type='url']:focus, textarea:focus{
  border-color: #FF5500;
  outline: 0;
}