.contacts{
  text-align: right;
  position: relative;
}

.contacts__tel{
  font-size: 26px;
  font-weight: 400;
  display: block;
  margin-top: 6px;
  margin-bottom: -4px;
}

.contacts__graph{
  font-size: 13px;
  transition: color 0.3s, text-decoration 0.3s;
  display: inline-block;
}

.contacts__graph:hover{
  text-decoration: underline;
  color: #FF3D00;
}

.contacts__graph:hover + .contacts__info{
  visibility: visible;
  opacity: 1;
  left: 29px;
  right: 0;
}

.contacts__info{
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #1E1F20;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

 .contacts__info::before{
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  height: 15px;
  left: 0;
  right: 0;
  width: 100%;
}

.contacts__info::after{
  display: block;
  position: absolute;
  bottom: 100%;
  right: 35px;
  content: "";
  width: 0px;
  height: 0px;
  border: 15px solid transparent;
  border-bottom-color: #fff;
  border-top: 0px;
}

.contacts__info:hover{
  visibility: visible;
  opacity: 1;
}

.contacts__lunch , .contacts__worktime {
  text-align: center;
  font-size: 13px;
}
.contacts__worktime {
  font-weight: 700;
  margin-bottom: 5px;
}
.contacts__lunch {
  font-weight: 600;
}
