.header{
  padding-top: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* services page */

.header--top-line{
  padding-top: 21px;
}

.page-content{
  background-color: #fff;
  color: #303030;
  padding-top: 54px;
}