.menu__item{
  margin-right: 54px;
  display: inline-block;
}
.menu__item:last-child{
  margin-right: 0;
}

.menu__item--active .menu__link{
  color: #FF5300;
}

.menu__link{
  transition: color 0.3s;
}

.menu__link:hover{
  color: #FF5300;
}