.socials{
  margin-right: 74px;
}

.socials__item{
  display: inline-block;
  padding-right: 6px;
}

.socials__item:last-child{
  padding-right: 0;
}

.socials__icon{
  width: 36px; height: 36px;
  background: url(../../img/socials.png);
}

.socials__icon--tg{
  background-position-x: -10px;
  background-position-y: -66px;
}
.socials__icon--vk{
  background-position-x: -66px;
  background-position-y: -66px;
}
.socials__icon--fb{
  background-position-x: -10px;
  background-position-y: -10px;
}
.socials__icon--in{
  background-position-x: -66px;
  background-position-y: -10px;
}
